<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DataDirectory" value="C:\Projects\DbDataLib"/>
    <add key="ServiceInterfaceDirectory" value="C:\Projects\ServiceDataInterfaceLib"/>
    <add key="ControllerDirectory" value="C:\Projects\Services\Controllers"/>
    <add key="InterfaceDefinitions" value="C:\testGen\DataFiles\ServiceDataSchema.xml"/>
    <add key="SchemaDirectory" value="C:\testGen\Schemas"/>
    <add key="DataManagerDefinitions" value="C:\testGen\DataFiles\DataManagerLibrary.xml"/>
    <add key="DataManagerNamespace" value="Business"/>
    <add key="ServiceNamespace" value="DataService"/>
    <add key="DataManagerDirectory" value="C:\Projects\DataService\DataController"/>
  </appSettings>
</configuration>