<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DataDirectory" value="C:\Projects\DcamDataService\DcamLocalDbDataLib"/>
    <add key="ServiceInterfaceDirectory" value="C:\Projects\DcamDataService\ServiceDataInterfaceLib"/>
    <add key="ControllerDirectory" value="C:\Projects\DcamDataService\DcamDataService\Controllers"/>
    <add key="InterfaceDefinitions" value="C:\testGen\DataFiles\ServiceDataSchema.xml"/>
    <add key="SchemaDirectory" value="C:\testGen\Schemas"/>
    <add key="DataManagerDefinitions" value="C:\testGen\DataFiles\DataManagerLibrary.xml"/>
    <add key="DataManagerNamespace" value="DcamBusiness"/>
    <add key="ServiceNamespace" value="DcamDataService"/>
    <add key="DataManagerDirectory" value="C:\Projects\DcamDataService\DcamDataController"/>
  </appSettings>
</configuration>